<h1>Contacts</h1>


  
  <!-- <button type="button" (click)="toggleEditor('name')">Edit</button> -->
  <button class="btn" style="background-color: lightblue;">
    <i class="fa fa-plus"></i> Add</button>
    <button class="btn"><i class="fa fa-home"></i> Home</button>
    


<!-- <app-name-editor *ngIf="Edit"></app-name-editor> -->
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search" style="width: 800px;">

<app-profile-editor *ngIf="Add"></app-profile-editor>
